Code documentation
==================

Python package documentation for all packages in repository
`{{ item.name }}`.

.. toctree::
    :maxdepth: {{ item.index_max_depth }}
    :caption: Packages
{% for package in item.packages %}
    {{ package.relative_directory }}/index
{%- endfor %}
